<div class="container">
    <h1>Profile/</h1>
    <h2>Welcome to member area</h2>
    <div class="user">
        {user}
    </div>
    <ul>
        <li>
            <b>Profile : </b> {user.profilePicture}
        </li>
        <li>
            <b>Firstname : </b> {user.firstname}
        </li>
        <li>
            <b>Lastname : </b> {user.lastname}
        </li>
        <li>
            <b>Email: </b> {user.email}
        </li>

    </ul>
</div>